

.footer {
    position: inherit;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #fff;
    z-index: 2;
    
}

#news h1{
    text-align: center;
    font-family: 'Book Antiqua';
    padding-top: 30px;
}

dl{
    margin:40px 4% 0 4%;
    display:flex;
    flex-wrap: wrap;
    border-top: solid 1px #c8c8c8;
    margin-bottom: 20px;
    text-align: center;
}

dt{
    width: 20%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px;
    text-align: center;
} 

dd{
    width: 80%;
    border-bottom: solid 1px #c8c8c8;
    padding:15px;
    margin: 0;
    text-align: center;
} 

#contact h1{
    text-align: center;
    font-family: 'Book Antiqua';
    padding-top: 35px;
}

a{
    text-decoration: none;
    color: #868686;
    opacity: 0.8;
}

a:hover{
    opacity: 1;
}

@media screen and (max-width:600px) {
    
    dl{
        flex-direction: column;
    }

    dt{
        width: 100%;
        border-bottom: none;
        padding-bottom: 5px;
    }

    dd{
        width:100%;
        padding-top: 0;
    }
}