

.footer {
    position: inherit;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #fff;
    z-index: 2;
    
}

#news h1{
    display: inline;
    position: relative;
    top: 40px;
    left: 25%;
    font-family: 'Book Antiqua';
}

dl{
    margin:70px 4% 0 4%;
    display:flex;
    flex-wrap: wrap;
    border-top: solid 1px #c8c8c8;
    margin-bottom: 20px;
    text-align: center;
}

dt{
    width: 20%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px;
    text-align: center;
} 

dd{
    width: 80%;
    border-bottom: solid 1px #c8c8c8;
    padding:15px;
    margin: 0;
    text-align: center;
} 

#contact h1{
    display: inline;
    position: relative;
    top: 40px;
    left: 45%;
    font-family: 'Book Antiqua';
}





