body {
  position: relative;
  font-family: 'Josefin Slab', serif;
}

.swiper-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  opacity: 1;
}

.top-message {
  text-align: center;
  position: inherit;
  height: calc(100%-60px);
  // height: calc(100vh - 73px);
  width: 70%;
  margin: 0 auto;
  opacity: 0.8;
  z-index: 2;
  // font-family: 'Book Antiqua';
  animation: fadeIn 3s ease 0s 1 normal;
}

.message {
  padding-top:170px;
  font-size:100px;
  letter-spacing: 3px;
  color: black;
}

@keyframes fadeIn { 

  0% {opacity: 0} 

  100% {opacity: 1} 

}

.text {
  margin-top: 100px;
  font-size: 20px;
  width: 100%;
  padding: 50px auto;
  max-width: 1000px;
  background-color: slateblue;
}

.swipe{
  padding-top: 30px;
  z-index: 3;
  font-size: 25px;
}

.swipe a{
  text-decoration: none;
  color: #fff;
}

.swipe a:hover{
  opacity: 1;
  color: red;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main {
  position: inherit;
  margin-top: 100px;
  padding-top: 70px;
  z-index: 5;


  & .image1 img,.image2 img,.image3 img,.image4 img,.image5 img,.image6 img{
    width: 350px;
    height: 250px;
    margin: 20px 0;
    object-fit: cover;
  }

  & .image2 {
    background-color: gray;
  }
  & .image4 {
    background-color: gray;
  }
  & .image6 {
    background-color: gray;
  }
}

.contents {
  position: inherit;
  width: 100%;
  margin-top: 150px;
  // height: calc(100vh - 60px);
  background-color: #fff; 
  font-family:'Josefin Slab', serif;
  padding-bottom: 30px;
}

#news h1{
  text-align: center;
  padding-top: 30px;
  letter-spacing: 5px;
}

dl{
  margin:40px 4% 0 4%;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 20px;
  text-align: center;
}

dt{
  width: 100%;
  padding: 15px;
  text-align: center;
} 

dd{
  width: 100%;
  border-bottom: solid 1px #c8c8c8;
  padding-bottom:15px;
  margin: 0;
  text-align: center;
} 
dd span{
  font-weight: bold;
  font-size: 20px;
} 

#contact h1{
  text-align: center;
  padding-top: 35px;
  letter-spacing: 5px;
}

.line {
  display: block;
  width: 300px;
  text-align: center;
  font-size: 15px;
  margin: 30px auto 0 auto;

  & p {
    margin: 0;
  }

  & img {
    margin-bottom: 10px;
  }
}

dd a {
  text-decoration: none;
  color: #868686;
  opacity: 0.8;
}


a:hover{
  opacity: 1;
}

@media screen and (min-width:700px) {
  .main {

    & .images {
      width: 700px;
      margin: 0 auto;
    }
  
    & .image1 img,.image2,.image3 img,.image4,.image5 img,.image6 {
      width: 200px;
    }

    & .image1 img, .image3 img, .image5 img {
      height: 200px;
    } 
  
    & .image2, .image4, .image6 {
      height: 150px;
    }

    & .image5 img {
      margin-top: -30px;
    }
  }
}
@media screen and (min-width:900px) {
  .main {

    & .images {
      width: 900px;
    }
  
    & .image1 img,.image2,.image3 img,.image4,.image5 img,.image6 {
      width: 290px;
    }

    & .image1 img, .image3 img, .image5 img {
      height: 230px;
    } 
  
    & .image2, .image4, .image6 {
      height: 180px;
    }
  }
}

@media screen and (min-width:1200px) {
  .main {
    width: 100%;

    & .images {
      width: 1200px;

    }
  
    & .image1 img,.image2,.image3 img,.image4,.image5 img,.image6 {
      width: 330px;
    }

    & .image1 img, .image3 img, .image5 img {
      height: 300px;
    } 
  
    & .image2, .image4, .image6 {
      height: 250px;
    }
  
    & .text {
      margin-top: 200px;
      width: 600px;
    }
  }
}